ede*
elpa
ido.last
semanticdb
url
*~
tramp
*elc
projectile*
emojis
games
request
.lsp-session*
transient
network-security.data
timelog
logview-cache.extmap
.cache
var
/custom.el
/eshell
/.dap-breakpoints
/eln-cache
/session*